[MASTER]
ignore=migrations
ignore-paths=^.*/migrations/.*$
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    C0415,
    R0903,
    W0212,
    broad-exception-caught,
    django-not-configured,
    duplicate-code,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-member,
    too-many-ancestors,
