django
django-admin-extra-buttons
django-cors-headers
django-filter
django-jazzmin
djangorestframework
drf-redesign
drf-spectacular
gunicorn
loguru
markdown
psycopg2-binary
pydantic
pylint
python-dotenv
whitenoise
