django
django-admin-extra-buttons
django-cors-headers
django-filter
django-jazzmin
djangorestframework
djangorestframework-simplejwt
drf-redesign
drf-spectacular
gunicorn
loguru
markdown
psycopg2-binary
pydantic
pylint
pytest
pytest-django
python-dotenv
whitenoise
